@import '../base/index';
@import '../vendors/mixins.scss';
.headerMainContent {
    text-align: center;
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title {
        margin: 0 auto 42px auto;
        @media (max-width: 800px) {
            font-size: 50px;
        }
        @media (max-width: 550px) {
            font-size: 32px;
            line-height: 40px;
        }
    }
    &__text {
        font-size: $titleFontSize;
        line-height: 33px;
        color: $primeTextColor;
        max-width: 1030px;
        margin-bottom: 77px;
        text-align: center;
        @media (max-width: 800px) {
            font-size: 20px;
        }
        @media (max-width: 550px) {
            font-size: 18px;
            line-height: 25px;
        }
    }
    &__btn {
        @include btn(18px, 46px, 18px, 54px)
    }
}