$h1FontFam: 'Open Sans', sans-serif;
$blockquoteFontFam: 'Cardo', serif;
$primeTextFontFam: 'Raleway';

$primeTextColor: #fff;
$secondaryTextColor: #6c7279;
$nameColorTeam: #2d3033;
$black: #000;
$red: #e84545;
$bgColor: #3a3e64;
$bgColorSecondary: #53354a;

$primeTextFontSize: 14px;
$secondaryTextFontSize: 13px;
$titleFontSize: 22px;
$primeTextLineHeight: 1.1em;

$widthContentBox: 1170px;

$transition: all .2s;
$redHover: #ce1c1c;